$font-stack: 'OpenSansRegular';
$font-light: 'OpenSansLight';
$font-bold: 'OpenSansBold';
$font-extrabold: 'OpenSansExtraBold';


$color-nav: #393c40;
$color-theme: #2c2e37;
$color-red: #dd3331;
$color-gray:#dedede;

